@charset "utf-8";

@media (max-width: 1280px) {

    .sin_s {
        font-size: 5rem;
        letter-spacing: 6px;
        line-height: 95px;
    }

    .bbox:first-child {
        font-size: 15px;
    }
    .box3 {
        font-weight: bold;
        font-size: 15px;
    }
}

/* @media (max-width: 1170px) {
    .bbox:first-child {
        font-size: 15px;
    }
    .box3 {
        font-weight: bold;
        font-size: 15px;
    }
} */