@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');

html, body {
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

body * {
    /* outline: 1px dashed darkred; */
}

.page_home {
    background-color: #b8b8b8;
    width: 100%;
    height: 100%;
}

header {
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: space-between;
    width: 93.05vw;
    height: 3.125vw;
    /* fixed 중앙정렬 */
    transform: translateX(-50%);
    left: 50%;
    z-index: 9999;
}
.logo {
    background-color: gray;
    width: 150px;
    height: 50px;
}
.navbar {
    display: flex;
    top: 0;
    right: 0;
}
.nbtn{
    margin-left: 40px;
}
.tnav {
    /* position: relative; */
    font-size: 1vw;
    font-weight: bold;
}






/* 메인영역 */

/* header 설정중 방해 X */
.intro_page {
    /* display: none; */
    outline: 1px dashed red;
}
.intro {
    position: relative;
    padding: 7vw 3vw
}

.sin {
    width: 44.7vw;
    /* margin-left: 57px; */
    /* padding-top: 152px; */
}
.sin_s {
    display: block;
    font-size: 6rem;
    letter-spacing: 4px;
    line-height: 121px;
    font-family: 'Russo One', sans-serif;
    
}
.sin h1 {
    font-weight: 400;
}

/* sin 밑에 있는 그림 3개 총박스 */
.intro_icon_box {
    display: flex;
    position: relative;
    width: 100%;
    background-color: darkorange;
    margin-top: 5vw;
}
.intro_icon {
    display: flex;
    width: 100%;
    height: 100%;
    background-color: #fff;
    justify-content: center;
    align-items: center;
}
.intro_icon img {
    width: 200px;
}

.intro_text_box {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 131px;
    margin: 100px 0;
}
.intro_h2_box {
    text-align: center;
    line-height: 35px;
}
.intro_h2_box h2 {
    font-size: 2.5rem;
    font-weight: normal;
}
.intro_span_box {
    display: flex;
    width: 100%;
}
.tspan {
    width: 50%;
    text-align: center;
}
.intro_span_box span {
    font-size: 2rem;
}


.intro_list_box {
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.intro_list_tbox1 {
    font-size: 20px;
    text-transform: uppercase;
    line-height: 20px;
    word-spacing: -2px;
    text-align-last: justify;
    width: 100%;
    /* outline: 2px solid darkblue; */
}
.intro_list_text1 {
    display: block;
    width: 23vw;
}

.intro_list_tbox1-2 {
    display: flex;
    position: relative;
}

.intro_listtboxs {
    position: relative;
    margin-top: 5px;
}
.intro_list_tbox_img img {
    /* display: block; */
    width: 220px;
    height: 260px;
}
.intro_list_text2 {
    display: block;
    text-align: center;
    width: 24vw;
    text-align-last: center;
    padding: 0 5px;
    box-sizing: border-box;
}
.intro_list_tbox1_btmt {
    width: 100%;
    position: absolute;
    bottom: 0;
    font-size: 12px;
    transform: translateY(100%);
}

/* ul 리스트 박스 */
.intro_list_tbox2 {
    width: 100%;
    /* outline: 2px solid darkred; */
}
.intro_list_tbox2_box {
    display: flex;
    /* padding: 0 10px; */
}
.intro_list_tbox2_box ul {
    width: 100%;
}
.intro_list_tbox2_box ul li {
    border-top: 1px solid black;
    cursor: pointer;
    text-transform: uppercase;
    overflow: hidden;
}
.intro_list_tbox2_box ul li:last-child {
    border-bottom: 1px solid black;
}
.abox {
    position: relative;
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 15px 0;
}
.bbox:first-child {
    font-weight: bold;
}
.bbox {
    position: relative;
    /* width: 100%; */
    /* div 박스가 총 세개  */
    flex: 1;
    transition: .2s ease-out;
    /* transform-origin: top; */
}
.bbox:first-child {
    flex: 2;
}
.box1 {
    /* width: 100%; */
}
.box2 {
    /* flex: 1; */
}
.box3 {
        text-align: right;
}

.acbox {
    /* width: 100vw; */
    position: absolute;
    /* display: flex; */
    /* overflow: hidden; */   
}
.acbox2 {
    position: relative;
    display: flex;
    /* flex: 1; */
    flex-direction: row;
    left: 0;
    flex-wrap: nowrap;
}
.acbox2_ani {
    animation: acani 120s linear infinite;   
}
@keyframes acani {
    to {
        left: -100%;
    }
}
.cbox {
    /* position: absolute; */
    font-size: 5vh;
    transition: transform .2s ease-out;
    overflow: hidden;
    transform: translateY(100%);
    white-space: nowrap;
}

/* 오버시 처리 체크 */
.abox:hover .bbox {
    transform: translateY(-200%);
}
.abox:hover .cbox {
    transform: translateY(-40%);
}