@charset "utf-8";

html, body {
    margin: 0;
    padding: 0;
}
h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

body * {
    outline: 1px dashed darkred;
}

.page_home {
    background-color: #b8b8b8;
}

header {
    position: relative;
    display: flex;
    width: 93.75vw;
    height: 3.125vw;
}
.logo {
    background-color: gray;
    width: 150px;
    height: 50px;
}
.navbar {
    position: absolute;
    top: 0;
    right: 0;
}